<div class="row">
    <div style="padding:0px;" class="col-sm-3 col-lg-2">
        <app-sidebar> </app-sidebar>
    </div>

    <div class="nonesidebar col-sm-9 col-lg-10">
        <p class="title"> Ajout D'utilisateur <span class="small"> (part)</span> </p>
        
        <div class="row col-lg-11 mx-auto">
          <form class="col-lg-6">
            <div class="card">
              <p class="card-header"> veillez renseigner le formulaires </p>
              
              <div class="card-content p-3">

                  <div class="row">
                    
                    <div class="form-group col-5 mx-auto">
                      <label for=""> Nom : </label>
                      <input type="text" class="form-control">
                    </div>
                    
                    <div class="form-group col-5 mx-auto">
                      <label for=""> Prenom : </label>
                      <input type="text" class="form-control">
                    </div>
                    
                  </div>
                  
                  <div class="row">
                    
                    <div class="form-group col-5 mx-auto">
                      <label for=""> Adress : </label>
                      <input type="text" class="form-control">
                    </div>
                    
                    <div class="form-group col-5 mx-auto">
                      <label for=""> Telephone : </label>
                      <input type="text" class="form-control">
                    </div>
                    
                  </div>
                
                  <div class="row">
                    
                    <div class="form-group col-5 mx-auto">
                      <label for=""> Cni : </label>
                      <input type="text" class="form-control">
                    </div>
                    
                    <div class="form-group col-5 mx-auto">
                      <label for=""> Email : </label>
                      <input type="text" class="form-control">
                    </div>
                    
                  </div>

                  <div class="form-group">
                    <label for=""> mot de passe : </label>
                    <input type="password" class="form-control">
                  </div>
                  
                  <div class="row pl-4">
                    <div class="form-group mr-5">
                      <input class="mr-1" name="type" id="" type="radio" value="admin">
                      <label  class="mr-3" for=""> Admin</label>

                      <input class="mr-1" name="type" id="" type="radio" value="caissier">
                      <label  class="mr-3" for=""> Caissier</label>
                    </div>
                  </div>
                  
                  <div style="text-align: right">
                    <input type="submit" value="Ajouter" class="btn btn-success">
                  </div>

            </div>
            </div>
          
          </form>

          <div class="col-lg-5 mt-5">
              <p>
                <strong> ! Note D'info </strong> <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse accusantium, id dolorem asperiores ad architecto distinctio autem labore placeat mollitia temporibus quisquam corporis iure blanditiis nisi eaque animi voluptate error.
              </p>
          </div>
        </div>
    </div>