<div style="padding: 0;" id="sidebar" class="">

  <div style="padding: 10px;" class="sidebar_header">
      <p class="admin"> Admin </p>
      <a id="disconnect" routerLink="/" > <img width="20px" src="../../assets/img/disconnect.png" alt=""> Deconnecter </a>
    
      <hr>
  </div>


  <ul>
    <li>
      <a routerLink="/usersystemlist" > <img width="20px" src="../../assets/img/icon_user.png" alt=""> Utilisateur S </a>
    </li>
    
    <li>
      <a routerLink="/userpartlist" > <img width="20px" src="../../assets/img/icon_user.png" alt=""> Utilisateur P </a>
    </li>
    
    <li>
      <a routerLink="/listpartenaire" > <img width="20px" src="../../assets/img/partenaire.png" alt=""> Partenaire </a>
    </li>

    <li>
      <a routerLink="/compte-list" > <img width="20px" src="../../assets/img/franch.png" alt=""> Compte </a>
    </li>

    <li>
      <a routerLink="/operations" > <img width="20px" src="../../assets/img/franch.png" alt=""> Opérations </a>
    </li>

  </ul>

</div>