<div class="row">
    <div style="padding:0px;" class="col-sm-3 col-lg-2">
        <app-sidebar> </app-sidebar>
    </div>

    <div class="nonesidebar col-sm-9 col-lg-10">
        <p class="title"> Ajout De Partenaire </p>
      
        <form class="col-lg-10 mx-auto">
          <div class="row border p-lg-4 pt-sm-4 pb-sm-4">
            <div style="padding: 0;margin-bottom: 50px;" class="card col-lg-5 col-sm-10 mx-auto">
              <p class="card-header mb-3"> info Partenaire </p>
              <div class="card-content p-2">
                  <div class="left">
                      <div class="form-group">
                        <label for=""> Denomination</label>
                        <input type="text" class="form-control">
                      </div>
        
                      <div class="form-group">
                        <label for=""> Adress</label>
                        <input type="text" class="form-control">
                      </div>
                      
                      <div class="form-group">
                        <label for=""> contacte</label>
                        <input type="text" class="form-control">
                      </div>
                      
                      <div class="form-group">
                        <label for=""> email</label>
                        <input type="text" class="form-control">
                      </div>
        
                  </div>
              </div>
            </div>

            <div style="padding: 0;" class="card col-lg-6 col-sm-10 mx-auto">
                <p class="card-header mb-3"> Representant legal </p>
                
                <div class="card-content p-2">

                      <div class="row">
                        
                        <div class="form-group col-5 mx-auto">
                          <label for=""> Nom : </label>
                          <input type="text" class="form-control">
                        </div>
                        
                        <div class="form-group col-5 mx-auto">
                          <label for=""> Prenom : </label>
                          <input type="text" class="form-control">
                        </div>
                        
                      </div>
                      
                      <div class="row">
                        
                        <div class="form-group col-5 mx-auto">
                          <label for=""> Adress : </label>
                          <input type="text" class="form-control">
                        </div>
                        
                        <div class="form-group col-5 mx-auto">
                          <label for=""> Telephone : </label>
                          <input type="text" class="form-control">
                        </div>
                        
                      </div>
                     
                      <div class="row">
                        
                        <div class="form-group col-5 mx-auto">
                          <label for=""> Cni : </label>
                          <input type="text" class="form-control">
                        </div>
                        
                        <div class="form-group col-5 mx-auto">
                          <label for=""> Email : </label>
                          <input type="text" class="form-control">
                        </div>
                        
                      </div>

                      <div class="form-group">
                        <label for=""> mot de passe : </label>
                        <input type="password" class="form-control">
                      </div>

                </div>

            </div>

          </div>
          <div class="twosub">
            <input type="reset" class="col-3 btn btn-danger mr-3">
            <input type="submit" class="col-3 btn btn-success">
          </div>
        </form>
    </div>
</div>