<div class="row">
    <div style="padding:0px;" class="col-sm-3 col-lg-2">
        <app-sidebar> </app-sidebar>
    </div>
  
    <div class="nonesidebar col-sm-9 col-lg-10">
      <div id="content-compte" class="">
        <h3> List Utilisateurs <span class="small"> (part)</span> </h3>
        <br>
        <br>

          <a id="btn_ajout" routerLink="/userpartajout" class="text-info"> <img src="../../assets/img/add.png" width="25px" alt=""> Ajouter </a>
          <p style="float:right;"> Totale : {{ userpartlenght }} </p>

        <table id="table" class="table table-condensed table-striped table-bordered">
          <tr>
            <th> Id </th>
            <th> prestataire </th>
            <th> compte associé </th>
            <th> Nom </th>
            <th> Prenom </th>
            <th> Telephone </th>
            <th> Status </th>
            <th> Action </th>
          </tr>

          <tr *ngFor="let oneuserpart of userpartdata">
              <td> {{ oneuserpart.id }} </td>
              <td> {{ oneuserpart.prestataire.matricule }} </td>
              <td> {{ oneuserpart.compteAssocie.intitule }} </td>
              <td> {{ oneuserpart.nom }} </td>
              <td> {{ oneuserpart.prenom }} </td>
              <td> {{ oneuserpart.telephoneUser }} </td>
              <td *ngIf="oneuserpart.statusUser === 'blcked'"> <span class="oui text-danger"> Bloqué </span> </td>
              <td *ngIf="oneuserpart.statusUser === 'dblcked'"> <span class="non text-success"> Actif </span> </td>
              <td>
                  <a [routerLink]="['/userpartone',oneuserpart.id]" class="mr-1 btn btn-success"> <img src="../../assets/img/view.png" width="20px" alt=""> Afficher tout  </a>
              </td>
            </tr>
        </table>
      </div>
    </div>
  
  </div>