<div class="row">
    <div style="padding:0px;" class="col-sm-3 col-lg-2">
        <app-sidebar> </app-sidebar>
    </div>
  
    <div class="nonesidebar col-sm-9 col-lg-10">
      <div id="content-compte" class="">
        <h3> Liste Rouge <br>
        <p class="small"> ce tableau contient tout les partenaires bloqué </p>
        </h3>
        <br>
        <br>
    
        <table id="table" class="table table-condensed table-striped table-bordered">
          <tr>
            <th> Id </th>
            <th> Matricule </th>
            <th> Dénomination </th>
            <th> Adress </th>
            <th> Email </th>
            <th> Telephone </th>
            <th> Action </th>
          </tr>
          <tr>
            <td> 01 </td>
            <td> 65465 </td>
            <td> Bakh Yaya Solution </td>
            <td> Pikine </td>
            <td> bys@gmail.com </td>
            <td> 7845687 </td>
            <td>
              <a routerLink="" class="btn btn-danger"> <img src="../../assets/img/delete.png" width="20px" alt="">  <span class="small"> Debloquer </span> </a>
            </td>
          </tr>
          
          <tr>
            <td> 01 </td>
            <td> 65465 </td>
            <td> Bakh Yaya Solution </td>
            <td> Pikine </td>
            <td> bys@gmail.com </td>
            <td> 7845687 </td>
            <td>
                <a routerLink="" class="btn btn-danger"> <img src="../../assets/img/delete.png" width="20px" alt="">  <span class="small"> Debloquer </span> </a>
            </td>
          </tr>
          
        </table>
      </div>
    </div>
  
  </div>